# This is a configuration definition file in folder "examples/CleanRooms/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
blink = OptimusSecundus.iRobotCreateActuator.flash_LED()
pickup = OptimusSecundus.iRobotCreateActuator.pickup()
sing = OptimusSecundus.iRobotCreateActuator.sing()
goToMarker = OptimusSecundus.iRobotCreateActuator.goToMarker()
drop = OptimusSecundus.iRobotCreateActuator.drop()

Initial_Truths: # Initially true propositions
searchmode
search

Main_Robot: # The name of the robot used for moving in this config
OptimusSecundus

Name: # Configuration name
new map

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
hasArrived = OptimusSecundus.iRobotCreateSensor.arrivedAtMarker()
cliff_right = share.DummySensorHandler.buttonPress(button_name="cliff_right",init_value=False)
wall = share.DummySensorHandler.buttonPress(button_name="wall",init_value=False)
notGoingTowardTarget = OptimusSecundus.iRobotCreateSensor.notGoingTowardMarker()
abort = share.DummySensorHandler.buttonPress(button_name="abort",init_value=False)
cliff_left = share.DummySensorHandler.buttonPress(button_name="cliff_left",init_value=False)
cliffFront_left = share.DummySensorHandler.buttonPress(button_name="cliffFront_left",init_value=False)
wheelDrop_caster = share.DummySensorHandler.buttonPress(button_name="wheelDrop_caster",init_value=False)
confirm = share.DummySensorHandler.buttonPress(button_name="confirm",init_value=False)
markersNearBy = OptimusSecundus.iRobotCreateSensor.nearViconMarkers(detection_range=0.8)
bump_left = OptimusSecundus.iRobotCreateSensor.bump_left()
button_advance = share.DummySensorHandler.buttonPress(button_name="button_advance",init_value=False)
wheelDrop_left = share.DummySensorHandler.buttonPress(button_name="wheelDrop_left",init_value=False)
bump_right = OptimusSecundus.iRobotCreateSensor.bump_right()
button_play = share.DummySensorHandler.buttonPress(button_name="button_play",init_value=False)
cliffFront_right = share.DummySensorHandler.buttonPress(button_name="cliffFront_right",init_value=False)
wheelDrop_right = share.DummySensorHandler.buttonPress(button_name="wheelDrop_right",init_value=False)
reachedTargetLocation = OptimusSecundus.iRobotCreateSensor.reachedTargetLocation()
virtual_wall = share.DummySensorHandler.buttonPress(button_name="virtual_wall",init_value=False)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
iRobotCreate.IRobotCreateActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 143.13781605,    8.81517469, -328.75558137],
[   6.70283942, -110.66363517,  311.66747644],
[   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.DifferentialDriveHandler(d=0.6)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
iRobotCreate.IRobotCreateInitHandler(listenIP="0.0.0.0",broadCastIP="192.168.1.120",createPort=8865,beaglePort=8866,artagPort=8844,sonarPort=8833,buffer=1024)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
iRobotCreate.IRobotCreateLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="roomba_no_arm:roomba_no_arm <t-X>",y_VICON_name="roomba_no_arm:roomba_no_arm <t-Y>",theta_VICON_name="roomba_no_arm:roomba_no_arm <a-Z>")

RobotName: # Robot Name
OptimusSecundus

SensorHandler: # Sensor handler file in robots/Type folder
iRobotCreate.IRobotCreateSensorHandler()

Type: # Robot type
iRobotCreate

