.vagrant/
*.pyc
*.swp
*.aut
*.cfg
*.ltl
*.smv
*.world
*_decomposed.regions
*~
.player
envBugs.txt
sysBugs.txt
.project
.pydevproject
*.anzu
*.debug
*.dot
*.rat
*.class
.DS_Store
*.cnf
*.sat
src/lib/cores/picosat*
.settings
.ropeproject
.idea
