# This is a configuration definition file in folder "examples/testing/OMPL/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Pioneer ODE

Name: # Configuration name
GRRT

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder


CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 3.3333,  0.    ,  0.    ],
[ 0.    , -3.3333,  0.    ],
[ 0.    ,  0.    ,  1.    ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.DifferentialDriveHandler(d=0.65)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
PioneerODE.PioneerODEInitHandler(init_region="r2")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
PioneerODE.PioneerODELocomotionCommandHandler(speed=12.0,host="localhost",port=23456)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.OMPLControllerHandler(Space_Dimension=3,planner="RRT",robot_type=3,Geometric_Control="G",plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
PioneerODE.PioneerSimPoseHandler(host="localhost",port=23456)

RobotName: # Robot Name
Pioneer ODE

SensorHandler: # Sensor handler file in robots/Type folder


Type: # Robot type
PioneerODE

