# This is a configuration definition file in folder "examples/testing/OMPL/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
ROS

Name: # Configuration name
OMPL with quadrotor

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
ROS.RosActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  4.97393736e-01,  -4.06163831e+01,   5.87995987e+02],
[ -4.06829698e+01,  -4.82221192e-01,   3.73532582e+02],
[  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
ROS.RosDriveHandler(d=0.2)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
ROS.RosInitHandler(init_region="Rovaniemi",worldFile="ltlmop_map.world",robotPixelWidth=20,robotPhysicalWidth=0.5,robotPackage="hector_quadrotor_gazebo",robotLaunchFile="spawn_quadrotor.launch",modelName="quadrotor")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
ROS.RosLocomotionCommandHandler(velocityTopic="/cmd_vel")

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.OMPLControllerHandler(Space_Dimension=3,planner="RRTConnect",robot_type=2,Geometric_Control="G",plotting=True)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
ROS.RosPoseHandler(modelName="quadrotor")

RobotName: # Robot Name
ROS

SensorHandler: # Sensor handler file in robots/Type folder
ROS.RosSensorHandler()

Type: # Robot type
ROS

