# This is a configuration definition file in folder "/home/jim/LTLMoP/src/examples/projectPR3/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
Knock = MAE.naoActuator.runBehavior(startBehaviorName="knockDoor",endBehaviorName="",repeat=False,repeat_period=)
Pickup_Letter = MAE.naoActuator.receivePackage(landmarkSize=0.033,camera=1)
Return_Letter = MAE.naoActuator.runBehavior(startBehaviorName="returnPackage",endBehaviorName="",repeat=False,repeat_period=)
Deliver_Letter = MAE.naoActuator.runBehavior(startBehaviorName="deliver",endBehaviorName="",repeat=False,repeat_period=)

Initial_Truths: # Initially true propositions
isOpen

Main_Robot: # The name of the robot used for moving in this config
Basic_Simulated_Robot

Name: # Configuration name
basic

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
Door_Closed = share.dummySensor.buttonPress(button_name="Door_Closed",init_value=False)
Person = MAE.naoSensor.seePerson(hold_time=2.0)
Letter_KressGazit = MAE.naoSensor.seeLandMark(landMark_id=187)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
basicSimActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
holonomicDrive(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSimInit(init_region="Mail_Room")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSimLocomotionCommand(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
RRTController(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=True,do_pathfollowing=True,target_threshold=1.5)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSimPose()

RobotName: # Robot Name
Basic_Simulated_Robot

SensorHandler: # Sensor handler file in robots/Type folder
basicSimSensor()

Type: # Robot type
basicSim


======== Robot2 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
naoActuator()

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
bipedalDrive(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
naoInit(ip="maeby.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
naoLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
MAE

SensorHandler: # Sensor handler file in robots/Type folder
naoSensor()

Type: # Robot type
nao

