# This is a configuration definition file in folder "Z:\LTLMoP\src\examples\projectPR3\configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
resynthesize = share.dummyActuator.setActuator(name="resynthesize")
requestExplore = Segway.CSharpRobotActuator.requestExplore()
isClosed = share.dummyActuator.setActuator(name="isClosed")
lol = share.dummyActuator.setActuator(name="lol")
EXPLORE_SETUP_MODE = share.dummyActuator.setActuator(name="EXPLORE_SETUP_MODE")
IDLE_MODE = share.dummyActuator.setActuator(name="IDLE_MODE")
RESYNTHESIZE_MODE = share.dummyActuator.setActuator(name="RESYNTHESIZE_MODE")
EXPLORE_MODE = share.dummyActuator.setActuator(name="EXPLORE_MODE")

Initial_Truths: # Initially true propositions
explore
IDLE_MODE

Main_Robot: # The name of the robot used for moving in this config
Segway

Name: # Configuration name
ProjectPR3_new

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
init_lidar_Spyros = Segway.CSharpRobotSensor.init_lidar()
door_closed = Segway.CSharpRobotSensor.doorClosed()
NEW_DOORWAY = Segway.CSharpRobotSensor.open_doorway()
ARTAG64 = Segway.CSharpRobotSensor.artag_detection(ARTagID=64)
BUSY_EXPLORING = Segway.CSharpRobotSensor.busyExploring()
initLIDAR = Segway.CSharpRobotSensor.init_lidar()
ARTAG103 = Segway.CSharpRobotSensor.artag_detection(ARTagID=103)
exploreHack = Segway.CSharpRobotSensor.open_doorway()
LIDAR = Segway.CSharpRobotSensor.lidar_detection()
open_doorway = Segway.CSharpRobotSensor.open_doorway()
region_removed = Segway.CSharpRobotSensor.regionRemoved()
region_added = Segway.CSharpRobotSensor.regionAdded()
ARTAG = Segway.CSharpRobotSensor.artag_detection(ARTagID=64)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
CSharpRobotActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 100.,    0.,  260.],
       [   0., -100.,  260.],
       [   0.,    0.,    1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.3)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
CSharpRobotInit(robotType=2,IPAddress="10.0.0.91",commPort=7400,buffer=2048576)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
CSharpRobotLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
CSharpPose(x=0.0,y=0.0,yaw=1.57079632679)

RobotName: # Robot Name
Segway

SensorHandler: # Sensor handler file in robots/Type folder
CSharpRobotSensor()

Type: # Robot type
CSharpRobot

