# This is a configuration definition file in folder "/home/jim/LTLMoP/src/examples/projectPR3/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
Return_Letter = share.dummyActuator.setActuator(name="Return_Letter")
resynthesize = share.dummyActuator.setActuator(name="resynthesize")
IDLE_MODE = share.dummyActuator.setActuator(name="IDLE_MODE")
Deliver_Letter = share.dummyActuator.setActuator(name="Deliver_Letter")
Knock = share.dummyActuator.setActuator(name="Knock")
EXPLORE_SETUP_MODE = share.dummyActuator.setActuator(name="EXPLORE_SETUP_MODE")
requestExplore = Segway.CSharpRobotActuator.requestExplore()
Pickup_Letter = share.dummyActuator.setActuator(name="Pickup_Letter")
RESYNTHESIZE_MODE = share.dummyActuator.setActuator(name="RESYNTHESIZE_MODE")
EXPLORE_MODE = share.dummyActuator.setActuator(name="EXPLORE_MODE")

Initial_Truths: # Initially true propositions
explore
IDLE_MODE

Main_Robot: # The name of the robot used for moving in this config
Segway

Name: # Configuration name
ProjectPR3

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
Door_Closed = Segway.CSharpRobotSensor.doorClosed()
BUSY_EXPLORING = Segway.CSharpRobotSensor.busyExploring()
ARTAG103 = Segway.CSharpRobotSensor.artag_detection(ARTagID=103)
region_added = Segway.CSharpRobotSensor.regionAdded()
exploreHack = Segway.CSharpRobotSensor.open_doorway()
ARTAG64 = Segway.CSharpRobotSensor.artag_detection(ARTagID=64)
LIDAR = Segway.CSharpRobotSensor.lidar_detection()
Person = share.dummySensor.buttonPress(button_name="Person",init_value=False)
ARTAG = Segway.CSharpRobotSensor.artag_detection(ARTagID=64)
NEW_DOORWAY = Segway.CSharpRobotSensor.open_doorway()
Letter_KressGazit = share.dummySensor.buttonPress(button_name="Letter_KressGazit",init_value=False)
region_removed = Segway.CSharpRobotSensor.regionRemoved()


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
CSharpRobotActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 129.2857143,    0.       ,  246.       ],
       [   0.       ,  -81.3888889,  394.       ],
       [   0.       ,    0.       ,    1.       ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.3)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
CSharpRobotInit(robotType=2,IPAddress="10.0.0.91",commPort=7400,buffer=2048576)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
CSharpRobotLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
RRTController(robot_type=5,max_angle_goal=3.14,max_angle_overlap=1.57,plotting=True,do_pathfollowing=True,target_threshold=1.5)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
CSharpPose(x=0.7,y=0.5,yaw=0.0)

RobotName: # Robot Name
Segway

SensorHandler: # Sensor handler file in robots/Type folder
CSharpRobotSensor()

Type: # Robot type
CSharpRobot

