# This is a configuration definition file for the example "test".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
panic = share.dummyActuator.setActuator(name="panic")

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
ATRV_JR

Name: # Configuration name
ros

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
badguy = ATRV_JR.gumboSensor.get_sensor(sensor_name="badguy")
fear = ATRV_JR.gumboSensor.get_sensor(sensor_name="fear")


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nullActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  18.51851852 , 0.           , 600.        ] ,
 [   0.               , -18.51851852 , 285.18518519] ,
 [   0.               , 0.           , 1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
holonomicDrive(multiplier=1.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
gumboInit()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nullLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
gumboMotion()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
gumboPose()

RobotName: # Robot Name
ATRV_JR

SensorHandler: # Sensor handler file in robots/Type folder
gumboSensor()

Type: # Robot type
atrv_jr

