# This is a configuration definition file in folder "examples/lineFollower/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
turnOffLeft = NXT.NXTActuator.turnOffMotor(actuatorMotorPorts="PORT_C")
dontMove = NXT.NXTActuator.turnOffMotor(actuatorMotorPorts="PORT_B.PORT_C")
turnLeft = NXT.NXTActuator.turnOnMotor(actuatorMotorPorts="PORT_C",power=65) and NXT.NXTActuator.turnOnMotor(actuatorMotorPorts="PORT_B",power=-35)
turnOffRight = NXT.NXTActuator.turnOffMotor(actuatorMotorPorts="PORT_B")
turnRight = NXT.NXTActuator.turnOnMotor(actuatorMotorPorts="PORT_B",power=65) and NXT.NXTActuator.turnOnMotor(actuatorMotorPorts="PORT_C",power=-35)

Initial_Truths: # Initially true propositions
left

Main_Robot: # The name of the robot used for moving in this config
NXT

Name: # Configuration name
rock

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
black = NXT.NXTSensor.detectColor(colorPort="PORT_3",colorValue=2,operator="<")
touch = NXT.NXTSensor.feel(touchPort="PORT_1")
white = NXT.NXTSensor.detectColor(colorPort="PORT_3",colorValue=1,operator=">")


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder


CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
[0, 1, 0],
[0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r1")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
Basic Simulated Robot

SensorHandler: # Sensor handler file in robots/Type folder


Type: # Robot type
basicSim


======== Robot2 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
NXT.NXTActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1.,  0.,  0.],
[ 0.,  1.,  0.],
[ 0.,  0.,  1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
NXT.NXTDriveHandler()

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
NXT.NXTInitHandler(brickMAC="00:16:53:14:1B:33")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
NXT.NXTLocomotionCommandHandler(leftDriveMotor="PORT_B",rightDriveMotor="PORT_C",steeringMotor="none",steeringGearRatio=1.0,leftForward=True,rightForward=True)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.NullPoseHandler(initial_region="r1")

RobotName: # Robot Name
NXT

SensorHandler: # Sensor handler file in robots/Type folder
NXT.NXTSensorHandler()

Type: # Robot type
NXT

