# This is a configuration definition file in folder "examples/slurptest/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pick_up = share.DummyActuatorHandler.setActuator(name="pick_up")
drop = share.DummyActuatorHandler.setActuator(name="drop")
sweep = share.DummyActuatorHandler.setActuator(name="sweep")
radio = share.DummyActuatorHandler.setActuator(name="radio")
extinguish = share.DummyActuatorHandler.setActuator(name="extinguish")

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Basic_Simulated_Robot

Name: # Configuration name
basicsim

Region_Tags: # Mapping from tag names to region groups, for quantification
{"outside": ["porch", "deck"]}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
sweep_done = share.DummySensorHandler.buttonPress(button_name="sweep_done",init_value=False)
fire = share.DummySensorHandler.buttonPress(button_name="fire",init_value=False)
hazardous_item = share.DummySensorHandler.buttonPress(button_name="hazardous_item",init_value=False)
person = share.DummySensorHandler.buttonPress(button_name="person",init_value=False)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder


CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
[0, 1, 0],
[0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=100.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="bedroom")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
Basic_Simulated_Robot

SensorHandler: # Sensor handler file in robots/Type folder


Type: # Robot type
basicSim

