# This is a configuration definition file for the example "robotWaiter".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Basic_Simulated_Robot

Name: # Configuration name
BasicSim

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
basicSimActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
holonomicDrive(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSimInit(init_region="Jim")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSimLocomotionCommand(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
OMPLController(Space_Dimension=2,planner="RRTConnect",robot_type=1,Geometric_Control="G",plotting=True)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSimPose()

RobotName: # Robot Name
Basic_Simulated_Robot

SensorHandler: # Sensor handler file in robots/Type folder
basicSimSensor()

Type: # Robot type
basicSim

