# This is a configuration definition file for the example "Feb21".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
wait_until_given = share.dummyActuator.setActuator(name="wait_until_given")
wait_until_taken = share.dummyActuator.setActuator(name="wait_until_taken")
hmwk_taken = share.dummyActuator.setActuator(name="hmwk_taken")
hmwk_given = share.dummyActuator.setActuator(name="hmwk_given")

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Pioneer Real

Name: # Configuration name
Bug Algorithm with Pioneer

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
see_dynamic_obstacle = Pioneer.PioneerRealSensor.dynamicObstacles()


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
PioneerRealActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 162.09647563,   17.07883421,   44.73565931],
       [  -1.16155539, -156.39316404,  368.87617856],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.25)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
PioneerRealInit(LocalIP="0.0.0.0",ListenerPort=6501,BroadcasterIP="10.255.255.255",BroadcasterPort=6502)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
PioneerRealLocomotionCommand(scaleV=1.0,scaleW=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
BugController(robot_type=1)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="spider06:spider06 <t-X>",y_VICON_name="spider06:spider06 <t-Y>",theta_VICON_name="spider06:spider06 <a-Z>")

RobotName: # Robot Name
Pioneer Real

SensorHandler: # Sensor handler file in robots/Type folder
PioneerRealSensor()

Type: # Robot type
PioneerReal

