# This is a configuration definition file for the example "willowExample".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
ROS

Name: # Configuration name
Untitled configuration

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
rosActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  3.85987709e-01,  -1.54443067e+01,   4.49010449e+02],
       [ -1.47530433e+01,   9.61206593e-01,   2.59109743e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.3)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
rosInit(init_region="Office",useRegionMap=False,worldPackage="pr2_gazebo",worldLaunchFile="pr2_wg_world.launch",robotPixelWidth=200,robotPhysicalWidth=0.5,robotPackage="pr2_gazebo",robotLaunchFile="pr2.launch")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
rosLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
heatController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
rosPose(modelName="pr2")

RobotName: # Robot Name
ROS

SensorHandler: # Sensor handler file in robots/Type folder
rosSensor()

Type: # Robot type
ROS

