<?xml version="1.0"?>

<launch>

  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="withpr2" default="true"/>

  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>
    
  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/ltlmop_map.world" respawn="false" output="screen"/>
  
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
  </group>

  <group if="$(arg withpr2)">
    <include file="$(find pr2_gazebo)/pr2.launch" />
  </group>
</launch>
