# This is a configuration definition file for the example "Pioneer_RRT".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
calibrate

Name: # Configuration name
calibrate

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
rosActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  6.03961325e-14,  -6.53750000e+01,   4.55500000e+02],
       [ -5.15000000e+01,   2.61479727e-12,   2.86000000e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.15)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
rosInit(init_region="__origin__",worldFile="ltlmop_map.world",robotPixelWidth=25,robotPhysicalWidth=0.3,robotPackage="hector_quadrotor_gazebo",robotLaunchFile="quadrotor.launch",modelName="pr2")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
rosLocomotionCommand(velocityTopic="/cmd_vel")

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
RRTController(robot_type=2,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=True)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
rosPose(modelName="quadrotor")

RobotName: # Robot Name
calibrate

SensorHandler: # Sensor handler file in robots/Type folder
rosSensor()

Type: # Robot type
ROS

