# This is a configuration definition file for the example "Pioneer_RRT".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Wall_E

Name: # Configuration name
RRT with Pioneer

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
PioneerRealActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 125.02617369,    3.39413415, -228.77217083],
       [   4.31344727, -126.08895865,  313.68262016],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.6)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
PioneerRealInit(LocalIP="10.0.0.116",ListenerPort=6501,BroadcasterIP="10.0.0.96",BroadcasterPort=6502)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
PioneerRealLocomotionCommand(scaleV=1.0,scaleW=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
RRTController(robot_type=4,max_angle_goal=1.047,max_angle_overlap=1.57,plotting=1)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="spider06:spider06 <t-X>",y_VICON_name="spider06:spider06 <t-Y>",theta_VICON_name="spider06:spider06 <a-Z>")

RobotName: # Robot Name
Wall_E

SensorHandler: # Sensor handler file in robots/Type folder
PioneerRealSensor()

Type: # Robot type
PioneerReal

