# This is a configuration definition file for the example "basicTesting".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
y = ROS.rosActuator.pr2TuckArms(tuck=False)
x = ROS.rosActuator.pr2TuckArms(tuck=True)
z = ROS.rosActuator.movePr2Torso(position=0.2)

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
ROS

Name: # Configuration name
Untitled configuration

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
a = share.dummySensor.buttonPress(button_name="c",init_value=False)
c = ROS.rosSensor.tiltScan(operator=">",value=1.0)
b = share.dummySensor.buttonPress(button_name="b",init_value=False)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
rosActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  8.07508125e+01,   1.15381866e-01,   3.46295699e+02],
       [ -4.20140963e-01,  -7.98340587e+01,   2.32159028e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.3)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
rosInit(init_region="r1",worldFile="ltlmop_map.world",robotPixelWidth=40,robotPhysicalWidth=0.5,robotPackage="pr2_gazebo",robotLaunchFile="pr2.launch")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
rosLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
heatController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
rosPose(modelName="pr2")

RobotName: # Robot Name
ROS

SensorHandler: # Sensor handler file in robots/Type folder
rosSensor()

Type: # Robot type
ROS

